.main {
    background-color:#090A27;
}

.carousel-inner{
    padding: 10px 30px 0 30px;
    height: 35%;
    position: absolute;
}

.carousel-item{
    height: 100%;
}

img{
    object-fit: cover;
    border-radius: 30px;
    -webkit-filter: blur(2px); 
    filter: blur(2px); 
}