
.menu_bar {
  height: 100vh;
  background-color: #312653;
  font-family: 'Righteous', cursive;
}
a {
  text-decoration: none;
}

.ph-target {
  font-size: 33px;
  color: #FFDEFF;
  transform: translate(5px,7px);
}

.archery {
  font-size: 26px;
  color: #FEFCFE;  
  text-shadow: 2px 0 0 #8E4885, -2px 0 0 #8E4885, 0 2px 0 #8E4885, 0 -2px 0 #8E4885, 1px 1px #8E4885, -1px -1px 0 #8E4885, 1px -1px 0 #8E4885, -1px 1px 0 #8E4885;  
}

.logo{
  padding: 15px 35px 0 40px;
}

.color_text {
  color: #090A27;
  font-size: 18px;
}

.ph-fire-simple, .ph-users, .ph-headphones, .ph-star, .ph-clock, .ph-folder-plus {
  color: #6B51BB;
  font-size: 30px;
  transform: translateY(5px);
  padding: 0 5px 0 0;
}

.menu_bar {
  color: #B17FB6;
  font-size: 25px;
}

.menu, .playlists, .my_music {
  padding: 35px 0 0 35px;
}
li:hover{
  background-color: #241A43;
}
.name_playlists{
  translate: translateX(-15px);
}
